html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    overflow-y: scroll;
    background: url('../res/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}